:root{
  --brand-color-pink:#F67ACB;
  --gray-color-100: #050110;
  --gray-color-200:#1C1D1F;   
  --gray-color-300: #5c6066;
  --gray-color-400:#E6EBF2;
  --gray-color-800:#F7F8FA;
  --white-color-text: rgba(255,255,255,0.7);
  --white-main: #ffff;

}